<div class="container mt-4">
    <div class="py-4">
        <div class="card fondo">
            <h1 class="text-center text-white">Busca tu pokemon favorito</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-5 g-4 mt-1">
        <div class="col" *ngFor="let pokemon of pokemons">
            <div class="card h-100">
                <img src="{{pokemon.image}}" height="50%" width="50%" class="card-img-top" alt="..">
                <div class="card-body">
                    <h5 class="card-title text-center">{{pokemon.name}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
